.mx {
  margin-right: 13px;
}
.PlayerRSWP div p {
  color: white !important;
  border: none !important;
}
body {
  background-color: #111;
  font-family: Helvetica;
}
.search-link {
  color:  white !important;
}
.search-result-artist > a {
  color: #fff !important;
}
.cursor-pointer {
  cursor: pointer;
}