.footer-player {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  padding-bottom: 100px !important;
  background-color: #282828;
}
/* .footer__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
  max-width: 300px;
}
.footer__center {
  flex: 0.4;
  padding: 0px 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}
.footer__right {
  flex: 0.3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.footer__albumLogo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}
.footer__songInfo > h4 {
  margin-bottom: 5px;
}
.footer__songInfo > p {
  font-size: 12px;
}
.footer__green {
  color: #1ed15e;
}
.footer__icon:hover,
.footer__green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}
.footer__right * .MuiSlider-root {
  color: green;
} */
._SliderRSWP {
  justify-content: center;
}
._SliderRSWP > div {
  width: 40% !important;
}
.PlayerRSWP {
  /* width: 97% !important; */
  display: flex;
  flex-direction: column-reverse;
  padding: 20px 20px;
}
.rswp__toggle > svg {
  height: 0.5em !important;
  width: 0.5em !important;
}
.next {
  position: absolute;
  left: 52%;
  top: 32px;
}

.previous {
  position: absolute;
  left: 43%;
  top: 32px;
  z-index: 1;
}
/* [aria-label="Next"] {
  display: none !important;
}

[aria-label="Previous"] {
  display: none !important;
} */
