.footer-player {
  position: fixed;
  bottom: 0;
  height: 90px;
  width: 100%;
  display: flex;
  background-color: #282828;
  align-items: center;
  padding: 0px 15px;
}

._SliderRSWP {
  justify-content: center;
}
._SliderRSWP > div {
  width: 40% !important;
}
.PlayerRSWP {
  /* width: 97% !important; */
  display: flex;
  flex-direction: column-reverse;
  padding: 20px 20px;
}
.rswp__toggle > svg {
  height: 0.5em !important;
  width: 0.5em !important;
}
.track-name{
  margin: 0;
  font-size: 0.8125rem;
  font-weight: 600;
  color: #fff;
}
.artist-name {
  margin: 0;
  font-size: 0.8125rem;
  font-weight: 200;
  color: #bababa;
}
.footer-left {
  flex: 0.25;
}
.footer-center {
  flex: 0.5;
}
.footer-right {
  flex: 0.25;
}