.header {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  width: 84%;
  height: 60px;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  right: 0;
}
.header__left {
  position: relative;
  margin-left: 35px;
  display: flex;
  align-items: center;
}
.header__left > div > svg {
  position: absolute;
  top: 8px;
  left: 12px;
  z-index: 100;
  color: #808080 !important;
}
.header__left > div:nth-child(2) {
  width: 364px;
  margin-left: 10px;
}

.header__left > div > input {
  border: 0;
  border-radius: 500px;
  color: #000;
  height: 40px;
  padding: 6px 48px;
  text-overflow: ellipsis;
  width: 100%;
  outline: none;
}

.grey {
  background-color: #040404;
}

.profile {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000000;
  border-radius: 20px;
  height: 28px;
  margin-right: 50px;
  cursor: pointer;
}
.profile:hover {
  background-color: rgb(44, 44, 44);
}
.profile > .MuiAvatar-root {
  height: 28px !important;
  width: 28px !important;
}
.profile > h4 {
  padding-left: 5px;
}
.profile > button {
  display: flex;
  background-color: transparent;
  color: white;
  border: none;
  padding: 0;
  padding-left: 5px;
}
.profile-menu {
  width: 191px;
  position: absolute;
  right: 50px;
  top: 55px;
  background: #282828;
  color: #ffffff;
  padding: 5px 10px;
  z-index: 2000;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: transparent;
}
.menu-item:hover {
  background-color: #363636;
}
.menu-item > p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic Pro";
}
.back-icon {
  background-color: #050505;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  position: relative;
}
.back-icon > svg {
  fill: #fff;
  font-size: 1rem;
  position: absolute;
  top: 7px;
  left: 9px;
}
.front-icon {
  background-color: #050505;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  position: relative;
}
.front-icon > svg {
  fill: #fff;
  font-size: 1rem;
  position: absolute;
  top: 7px;
  left: 8px;
}
.front-icon > svg:disabled {
  fill: #676767;
}
